<ion-header>
  <ion-toolbar>
    <ion-title>Biblioteca Virtual</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let book of books">
      <ion-label>
        <h2>{{ book.nome_livro }}</h2>
        <p>Autor: {{ book.nome_autor }}</p>
        <p>Ano: {{ book.genero }}</p>
        <p>Numero de Paginas: {{ book.numero_paginas }}</p>
      </ion-label>

      <!--editar livro -->
      <ion-button fill="" (click)="editBook(book.id)">
        <ion-icon slot="icon-only" name="pencil-outline" size="large"></ion-icon>
      </ion-button>

      <!--visualizar livro -->
      <!-- Visualizar livro -->
      <ion-button color="danger" fill="" (click)="viewBook(book.id)">
        <ion-icon name="eye-outline" size="large"></ion-icon>
      </ion-button>

      <!--excluir livro -->
      <ion-button color="danger" fill="" (click)="deleteBook(book.id)">
        <ion-icon slot="icon-only" name="trash-outline" size="large" ></ion-icon>
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="button-container">
      <ion-button class="custom-button" [routerLink]="['/books-form']">
        <ion-icon name="add-circle-outline" size="large"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>




