<ion-header>
  <ion-toolbar>
    <ion-title>Biblioteca Virtual</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let book of books">
      <ion-label>
        <h2>{{ book.titulo }}</h2>
        <p>Autor: {{ book.autor }}</p>
        <p>Ano: {{ book.year }}</p>
      </ion-label>
      <ion-button fill="outline" (click)="editBook(book.id)">Editar</ion-button>
      <ion-button color="danger" (click)="deleteBook(book.id)">Excluir</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/books-form']">
        <ion-icon name="add-circle-outline"></ion-icon>
        Adicionar Livro
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
