<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-content">
  <div class="login-container">
    <form (ngSubmit)="login()" class="login-form">

      <h2 class="login-title">Bem-vindo!</h2>

      <ion-item lines="none" class="login-item">
        <ion-label position="floating">Usuário</ion-label>
        <br>
        <br>
          <ion-input
            [(ngModel)]="username"
            name="username"
            required
            type="text"
          ></ion-input>
      </ion-item>

      <ion-item lines="none" class="login-item">
        <ion-label position="floating">Senha</ion-label>
        <br>
        <br>
          <ion-input
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        class="login-button"
        color="primary"
      >
        Entrar
      </ion-button>
    </form>
  </div>
</ion-content>
